<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Envents Managing Page</h1>
    <div class="container">
        <h2>Welcome <span id="dashboard-user"></span>!</h2>
        <table>
            <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr id="event-row-{{ event.id }}">
                    <td>{{ event.id }}</td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.date }}</td>
                    <td>
                        <button onclick="location.href='/edit_event/{{ event.id }}'">Edit</button>
                        <button onclick="location.href='/delete_event/{{ event.id }}'">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <button onclick="location.href='/create_event'">Create Event</button>
        <button onclick="location.href='/logout'">Logout</button>
    </div>
    <script src="../static/welcome_admin.js"></script>
</body>
</html>

